/* body {
  margin-bottom: 100px;
} */

p {
  color: var(--text--default--black-medium);
  font-size: 19px;
  line-height: 1.5em;
  font-family: "Inter", sans-serif;
  color: #444444;
}
h3 {
  color: var(--text--default--black);
  font-family: Work Sans, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
  position: relative;
}
h4 {
  color: var(--text--default--black);
  font-family: Work Sans, sans-serif;
  font-size: 27px;
  font-weight: 300;
  margin-top: 10px;
  position: relative;
}
.logo {
  width: 50%;
  font-size: 22px;
}
ul {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
header {
  width: 80%;
  display: flex;
  text-align: center;
  /* place-items: anchor-center; */
  align-items: center;
}
li {
  list-style: none;
  font-size: 18px;
}
li a {
  text-decoration: none;
  color: #000;
}
.hero-section {
  height: 50vh;
  background-color: #d4d4d4;
  display: flex;
  justify-content: space-between;
}
.hero-2 {
  background-image: url("hero.image.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  color: white;
  width: 700px;
}
.hero-1 {
  padding-left: 330px;
  display: flex;
  justify-content: flex-end;
}
.hero-1 h1 {
  z-index: 6;
  color: var(--text--default--black);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: Work Sans, sans-serif;
  font-size: calc(5rem + 3vh);
  font-weight: 300;
  line-height: 1.05em;
  position: relative;
}
.hero-section {
  height: 700px;
}
.hero-content img {
  position: absolute;
  width: 700px;
  aspect-ratio: 16/11;
}
.main-container {
  padding-left: 330px;
  padding-right: 330px;
}
.Aerodynamic {
  height: 50vh;
  align-content: center;
}
.layout-grid {
  display: flex;
  height: 850px;
}
.cutting-edge {
  width: 65%;
  background-image: url("https://cdn.prod.website-files.com/670029dfe54e815631acec08/67002cc809e34f256f04030f_back%20of%20plane.avif");
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-size: contain;
}
.cutting-edge-2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.small-card {
  width: 35%;
}
.Engineered-1 {
  margin-left: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.Engineered-1 img {
  height: 200px;
  background-size: cover;
  width: -webkit-fill-available;
  aspect-ratio: 16/9;
}
.Engineered-1 h4 {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
}
.Engineered-1 p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-family: 16px;
}
.Engineered-2 {
  background-image: url("https://cdn.prod.website-files.com/670029dfe54e815631acec08/67002cc9922a0ab5e0c3a61a_plane%20black%20background-p-2000.avif");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  margin-left: 20px;
  height: 400px;
  align-content: end;
  border-radius: 8px;
}
.section-intro {
  margin-top: 100px;
  position: relative;
  background-image: url("https://cdn.prod.website-files.com/670029dfe54e815631acec08/67003d27fdf0f2e948ae0f31_flying%202%20bw.avif");
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  z-index: 1;
  overflow: hidden;
}

.section-intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.section-intro p {
  letter-spacing: 0.005em;
  font-size: calc(1vh + 2.5rem);
  font-weight: 300;
  line-height: 1.25em;
  position: relative;
  text-align: center;
  max-width: 1000px;
  color: #fff;
}
.new-height {
  padding-left: 330px;
  padding-right: 330px;
  display: flex;
  justify-content: space-between;
  place-items: anchor-center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.heritage-img img {
  border-radius: 15px;
  width: 50%;
  width: 600px;
}
.heritage-contnet {
  align-content: center;
}
.resources-content {
  padding-left: 330px;
  padding-right: 330px;
  margin-top: 100px;
}
.heritage-meet {
  display: flex;
  padding-left: 330px;
  padding-right: 330px;
  gap: 30px;
}
.resources-grid {
  padding-left: 330px;
  padding-right: 330px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.resources-img {
  height: 500px;
  aspect-ratio: 10/13;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  margin-top: 50px;
  position: relative;
  place-items: center;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  background-size: cover;
  background-repeat: no-repeat;
}

.resources-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.resources-img:hover {
  transform: translateY(-8px);
}
.avitaion {
  background-image: url("https://cdn.prod.website-files.com/670029dfe54e815631acec08/67002cc9922a0ab5e0c3a61a_plane%20black%20background-p-2000.avif");
  height: 100vh;
  display: flex;
  padding-left: 330px;
  padding-right: 330px;
  justify-content: space-between;
  margin-top: 100px;
  align-self: flex-end;
  padding-bottom: 100px;
}
.avitaion-content {
  align-content: end;
}
.button {
  align-self: flex-end;
}
.avitaion h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: Work Sans, sans-serif;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2em;
}
.button li {
  color: #fff;
  padding: 15px;
  border: 2px solid #fff;
  width: fit-content;
}
.footer,
.newsletter {
  display: flex;
  justify-content: space-between;
  padding-left: 330px;
  padding-right: 330px;
  margin-top: 100px;
  gap: 30px;
}
.footer-electrax-1 {
  width: 40%;
}
.footer-electrax-2 {
  width: 20%;
}
.footer-electrax-3 {
  width: 20%;
}
.footer-electrax-4 {
  width: 20%;
}

.footer li {
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
i {
  /* padding: 15px; */
  width: 60px;
  height: 60px;
  background-color: #efefef;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 20px;
  text-align: -webkit-center;
  align-content: center;
}
i:hover {
  background: #b5afaf;
}
.last-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 330px 50px 330px;
}
.licenses,
.webflow {
  display: flex;
  gap: 20px;
}

.licenses li,
.webflow li {
  font-size: 20px;
  cursor: pointer;
}
